@import "../variables/variables.scss";

.massage_section{
    width: 300px;
    height: 270px;
    margin-bottom: 10px;
    position: fixed;
    z-index: 9999;
    bottom: -400px;
    right: 10px;
    transition: all .5s ease-in-out;
    opacity: 0;
  
    .close_massage{
        border: none;
        outline: none;
       width: 30px;
       height: 30px;
       font-weight: bold;
       border-radius: 50%;
       font-size: 18px;
       margin-bottom: 10px;
       color: white;
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: transparent;
       svg {
        color: #0e9c45;
        font-size: 30px;
        border: none;
        outline: none;
       }
    }
    .intrduce_massager{
        display: flex;
        gap: 10px;
      .content_massager{
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        .welcom_massage{
            width: 100%;
            padding: 15px;
            background-color: #0e9c45;
            color: white;
            text-align: center;
           
        }
        .name_of_respons{
            padding: 15px;
            background-color: white;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                color: rgb(163, 163, 163);
                font-size: 14px;
            }
            img {
                width: 30px;
            }
        }
        .massage_container{
            width: 100%;
            padding: 14px;
            background-color: white;
            color: white;
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid #ddd;
            a{
                svg {
                    color: #0e9c45;
                    font-size: 20px;
                }
            }
            .input{
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                background-color: transparent;
                width: 80%;
                text-align: start;
                color: white;
            }
        }
      }
    }

}

.active_massage {
  bottom: 20px;
  opacity: 1;

 }

 [dir='rtl'] {
    .massage_section{
        .close_massage{
            border: none;
        }
        .intrduce_massager{

          .content_massager{
            width: 100%;

            .welcom_massage{
                width: 100%;

               
            }
            .massage_container{
                width: 100%;
                a{
                    svg {
                        color: #0e9c45;
                        font-size: 20px;
                    }
                }
                .input{
                    text-align: start;
                }
            }
          }
        }
    
    }
 }