@import '../../variables/variables.scss';
@import '../../variables/mixins.scss';


/************
 ////////// Navbar ////////
 ************/

 .navbar {
    background-color: $color-2;
    padding: 1rem 0;

    width: 100%;
    z-index: 999999;
    &.active {
        background-color: $color-2;
        padding: .5rem 0;
        transition: all 1s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
    }
    .navbar-collapse {
        .navbar-nav {
            width: 83%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 30px;
        }
        .langs {
            display: flex;
            align-items: center;
                a {
                    @include creatBtn;
                    font-size: 13px;
                }
        }
    }
    .logo {
        width: 180px;
        object-fit: cover;
    }
    .nav-link {
        color: white;
        text-transform: uppercase;
        font-size: $font_14;
        cursor: pointer;
        padding: 0.7rem;
    }
    .navbar-nav .nav-link.active {
        color: $color-1;
    }
 }

 [dir="rtl"] {
    .navbar {
        .nav-link {
            font-size: $font_16;
        }
        .navbar-collapse {
            .langs {
                    a {
                        @include creatBtn;
                    }
            }
        }
     }
 }